<table class="table">
  <tr>
    <th>Name</th>
    <th>Bucket</th>
    <th>Region</th>
    <th>
      <a href="/projects/new"></a>
        <span class="btn btn-primary btn-sm glyphicon glyphicon-plus-sign"></span>
      </a>
    </th>
  </tr>
  <% @projects.each do |p| %>
    <tr>
      <td><%= link_to p.name, project_path(p) %></td>
      <td><%= p.bucket_name%></td>
      <td><%= p.region %></td>
      <td>
        <a class="btn btn-default btn-sm" href="/projects/<%= p.id  %>/edit">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
    </tr>
  <% end %>
</table>

