<li class="list-group-item">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><label>Name: </label><input type="text" value="{{name}}"></div>
      <div class="col-sm-6"><label>Bucket: </label>{{bucket}}</div>
    </div>
    <div class="row">
      <table class="table">
        <tr>
          <th>File Match</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><span class="btn btn-link">*.js</span></td>
          <td>@URL</td>
          <td>https://owners.api.com</td>
        </tr>
      </table>
    </div>
  </div>
</li>
